html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: #f2f1ed;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/* .container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
} */

.timer {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.field {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 0.5em;
  text-transform: uppercase;
}

.label {
  display: block;
  font-size: 1rem;
}

.value {
  display: block;
  font-size: 3.5rem;
  color: #ea4c4c;
  border: solid 1px black;
  border-radius: 4px;
  background-color: #fff;
  padding: 0px 10px;
}
